* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.navbar {
    background-color: black;
    width: 100%;
    height: 48px;
}

.hero-content {
    display: flex;
    justify-content: center;
}