* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: black;
}

button {
    cursor: pointer;
}

.navbar {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    max-width: 100%;
    height: 48px;
}

.navbar img {
    object-fit: cover;
    height: 40px;
    width: auto;
}

.navbar-container {
    display: flex;
    gap: 20px;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.hero {
    height: 1000px;
}

.hero img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 40%;
    z-index: -1;    
}

.hero h1 {
    font-size: 6rem;
}

.hero p {
    font-size: 2rem;
    padding: 30px;
}

.hero-content {
    padding: 300px 0px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

.subscribe-button {
    width: 100px;
    height: 30px;
    font-weight: bold;
    background-color: red;
    color: white;
    font-size: 1rem;
    border: 0;
    border-radius: 100px;
}

.subscribe-button:hover {
    background-color: black;
}

.feature-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 80px;
    font-size: 3rem;
    color: white;
    text-align: center;
}

.feature-section img {
    width: 360px;
}

.movies {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.movies img {
    margin: 20px;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 2rem;
}

.search button {
    width: 60px;
    padding-right: 20px;
    border: none;
    outline: none;
    background-color: white;
}

.search-bar {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
}

.search-bar input {
    border: none;
    height: 30px;
    width: 1000px;
    font-size: 2rem;
    padding: 20px;
}

.pricing {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    color:white;
    padding: 80px;
}

.plans {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 340px);
    justify-content: space-between;
    font-size: 1.2rem;
    background-color: black;
    padding: 80px;
}

.plan-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    color: black;
    width: 260px;
    height: 500px;
    margin: 20px 0px 20px;
    border-radius: 60px;
    padding: 40px;
}

.plan-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
}

.plan-content h3 {
    font-size: 2.5rem;
}

.plan-content h4 {
    font-size: 1.7rem;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: #d9d9d9;
}

.footer p {
    padding: 20px;
}

.footer-links a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0px 40px;
}

/* landscape tablets */
@media screen and (max-width: 1200px) {
    .hero-content {
        padding: 300px 20px 0px 20px;
    }

    .plans {
        grid-template-columns: repeat(2, 340px);
    }

    .search-bar input {
        width: 400px;
    }

    .footer-links a {
        font-size: 1rem;
    }
}

/* portrait tablets */
@media screen and (max-width: 860px) {
    .hero-content {
        padding: 160px 20px 0px 20px;
    }

    .hero-content h1 {
        font-size: 5rem;
    }

    .movies {
        flex-direction: column;
        align-items: center;
    }

    .movies img {
        width: 300px;
    }

    .plans {
        grid-template-columns: 340px;
        justify-content: center;

    }

    .footer-links a {
        display: block;
        padding: 10px;
    }
}

/* phones */
@media screen and (max-width: 600px) {
    .navbar {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar img {
        height: 20px;
    }

    .hero {
        height: auto;
    }

    .hero-content {
        padding: 90px 0px;
    }
    
    .hero-content h1 {
        font-size: 3rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .movies img {
        width: 200px;
    }
    
    .search-bar input {
        width: 200px;
    }
}